* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --defaultCellSize: 20px;
    --pointCellSize: 60px;
    --lineCellSize: 60px;
    --shapeCellSize: 100px;
    --constraintCellSize: 60px;

    --baseBorderRadius: 10px;
}
div {
    padding: 0;
    margin: 0;
}

#main {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#menuContainer {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 50px;
}

#tabBar {
    height: calc(100% - 1px);
    width: 100%;

    background-color: white;
    border-top: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}
#tabBar > button {
    border: none;
    background-color: white;

    font-size: large;
}
#tabBar > button:active {
    background-color: rgb(210, 210, 210);
}
#setup {
    border-right: 1px solid grey !important;
}

#calculatorWrapper {
    height: 100%;
    width: calc(100% - 2px); /* To account for the border */

    border-left: 1px solid black;
}

#setupConstraintsWrapper {
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 15px;

    background-color: rgb(235, 235, 235);
}

#setupConstraintsWrapper > .dataContainer { /* Individual sections e.g. points, lines */
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: white;
    border-radius: var(--baseBorderRadius);

    overflow-y: auto;
}

#buttonWrapper {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 15px;
}
.actionButton {
    height: 100%;
    width: 100%;

    border: 0;
    background-color: whitesmoke;
    transition: background-color 50ms;
    border-radius: 8px;

    color: black;
    font-size: x-large;
    font-weight: 400;
}
#construct {
    background-color: rgb(15, 100, 210);
    color: white;
}
#construct:active {
    background-color: rgb(10, 80, 170);
}
#bind {
    background-color: rgb(40, 40, 40);
    color: white;
}
#bind:active {
    background-color: rgb(70, 70, 70);
}

.collectionView {
    height: max-content;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--defaultCellSize));
    grid-template-rows: max-content;
    gap: 12px;
    /*justify-content: center;*/ /*Not sure whether to keep this or not. as it causes issues when there are only 1 or 2 points */
}
.collectionView > div {
    height: var(--defaultCellSize);
}
.list {
    grid-template-columns: 100%;
}

#points {
    grid-template-columns: repeat(auto-fit, var(--pointCellSize));
}
#points > div, #points > button {
    height: var(--pointCellSize);
}
#pointContstraints > div, #pointConstraints > button {
    height: var(--constraintCellSize);
}
#lines {
    grid-template-columns: repeat(auto-fit, var(--lineCellSize));
}
#lines > div, #lines > button {
    height: var(--lineCellSize);
}
#lineConstraints > div, #lineConstraints > button {
    height: var(--constraintCellSize);
}
#shapes > div, #shapes > button {
    height: var(--shapeCellSize);
}

.cell, .row, .shapeRow {
    /* Height and width already managed */

    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: var(--baseBorderRadius);
    transition: background-color 50ms;
}
.cell:active, .row:active, .shapeRow:active {
    background-color: rgb(210, 210, 210);
}

.cell {
    font-size: xx-large;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: large;
}
.shapeRow {
    display: grid;
    grid-template-columns: 15% 85%;
}
.shapeRow > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}
.shapeRow > div:first-child {
    border-right: 1px solid black;
    font-size: xx-large;
}
.shapeRow > div:last-child {
    padding-left: 10px;
    justify-content: left;
    font-size: 24px;
}

.add {
    background-color: gainsboro;
    transition: 75ms background-color;
    color: black;
}
.add:active {
    background-color: grey;
}
#addShape {
    font-size: 50px;
}





#helperConstraintsWrapper {
    height: 100%;
    width: 100%;

    background-color: red;
}