body {
    margin: 0;

    --cellSize: 50px;
}
div {
    padding: 0;
    margin: 0;
}

#main {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#calculatorWrapper {
    height: 100%;
    width: calc(100% - 2px); /* To account for the border */

    border-left: 2px solid black;
}

#constraintsWrapper {
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;

    background-color: rgb(235, 235, 235);
}

#constraintsWrapper > div { /* Individual sections e.g. points, lines */
    height: 100%;
    width: 100%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: white;
    border-radius: 10px;

    overflow-y: auto;
}

.collectionView {
    height: max-content;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--cellSize));
    grid-template-rows: max-content;
    gap: 12px;
    justify-content: center;
}
.collectionView > div {
    height: var(--cellSize);

    background-color: red;
}